<div class="list-group list-group-flush">
    <a href="/" id="menu-index" class="list-group-item list-group-item-action">首页</a>
</div>
<small>&nbsp;&nbsp;基本功能</small>
<div class="list-group list-group-flush">
    <a href="/userInfo" id="menu-user-info" class="list-group-item list-group-item-action">用户信息</a>
    <a href="/imgInfo" id="menu-img-info" class="list-group-item list-group-item-action">上传图片</a>
    <a href="#" class="list-group-item list-group-item-action">批量上传图片</a>
    <a href="#" class="list-group-item list-group-item-action">下载文件</a>
    <a href="#" class="list-group-item list-group-item-action">断点上传文件</a>
</div>