.top{
    border-bottom: 1px solid gainsboro;
    height: 45px;
}
.left{
    border-right: 1px solid gainsboro;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 45px;
    background: gainsboro;
    bottom: 0px;
}
.page{
    position: absolute;
    left: 200px;
    bottom: 0px;
    right: 0px;
    top: 45px;
    padding: 10px;
}
